*{
    margin:0;
    padding:0;
    text-decoration: none;
    font-family: 'Noto Serif KR', serif;
}

header {
    text-align: center;
    background-color:#f6e58d;
}
header h1 {
    display:inline-block;
    font-size:2em;
    color: #6ab04c;
    margin:23px 0;
    width:280px;
    border: 6px solid #6ab04c;
}

.banner {
    position: relative;
}
.banner img {
    width:100%; 
}
.welcome {
    margin-left: 20px;
    padding-top: 25px;
    position: absolute;
    color: #fff;
    top:15%;
    width:460px;
    height:180px;
    text-align: center;
}
.welcome h2{
    font-size:2.8em;
}
.welcome span {
    font-size:0.7em;
}
input[type=text]{
    width:200px;
    padding: 12px 20px;
    margin: 8px 0;
    background-color:white;
    font-style:italic;
    font-size: 1em;
    border:2px solid #6ab04c;
    border-radius: 1.2em;
    outline:none;
   
}
button {
    margin-left: 12px;
    width:60px;
    height: 45px;
    color:green;
    font-size: 1em;
    font-weight: bold;
    border:2px solid #6ab04c;
    background-color:#f6e58d;
    border-radius:1.2em;
    outline:none;
    cursor: pointer;
}

.note {
    position: absolute;
    width: 340px;
    top:25%;
    right:5%;
    text-align: right;
}
.note h2 {
    font-size: 1.2rem;
    color:white;
    padding: 10px 0;
}
.menu {

    background-color:#f6e58d;
    font-size:1.5em;
    width:100%;
    height:60px;
    padding-top:20px;

}
.menu li:hover {
    text-decoration: underline;
}
.menu li, 
.menu li a {
    color:#6ab04c;
}
.shown {
    float:left;
    display: block;
    width:160px;
    text-align: center;
    padding-left:90px;
    list-style: none;
    margin: 0 auto;
    
}
.rent{
    display: none;
    width:160px;
    text-align: center; 

}
.rent a {
    display: block;
}

.rent:hover, .link:hover {
    display: block;

}

.pictures {
    margin-top:30px;
    width:100%;
    display:block;
    
}
.pictures .title {
    font-size:2em;
    padding-bottom: 10px;
    text-align: center;
}
.pictures h3 {
    padding-bottom:20px;
    text-align: center;
}
.pictures img {
    width:300px;   
    padding: 20px 40px; 
    float:left;
}
.pictures img:hover{
    opacity: 60%;
    cursor: pointer;
}

.hoverName {
    color:gray;

}

footer {
    width:100%;
    height:80px;
    background-color: #f6e58d;
    clear: both;
}
footer li {
    float: right;
    list-style: none;
    padding:30px 20px 0 40px;
    cursor: pointer;
    color:#535c68;
}